.nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3397db;
  height: 60px;
}

.nav h1 {
  /* margin: auto; */
  /* padding: 20px 0; */
}

.nav h1 a {
  color: #fff;
  font-size: 18pt;
  font-weight: 500;
  letter-spacing: 8px;
  text-transform: uppercase;
}

@media screen and (max-width: 484px) {
  .nav {
    align-items: flex-end;
  }

  .nav h1 {
    margin: 0 10px;
  }

  .nav h1 a {
    font-size: 16pt;
    font-weight: 400;
    letter-spacing: 5px;
  }
}
