.toolbar {
  width: 100%;
  /* height: 50px; */
  background-color: #ddd;
}

.toolbar-form {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: flex-start;
  align-items: center;
  height: 75px;
}

.search-input {
  padding: 10px 10px;
  height: 50px;
  position: relative;
}

.search-input::before {
  content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAQJJREFUKBWVkr2uQUEUhf3ET6GRaC5aFRoJKrf1BKpb8SwqovYGXkCj00k0QnRKEYkILYobvpUYmeMMyVnJl7P3mjN7Zu9zwiGv2qRFyMMSRrAFp6JPN8XzBj+wgDkUYAg7WINTYdwpDECxrRLJHeq2accdkgm8bzTvNAg2EDOGeUYI1KNO1gkuzTA1g8T7ojbn4ONQWPuHPWgeHmnzCqoe15tkSNPgPEAn68oVcOmA2XMtGK9FoE/VhOTTVNExqLCGZnxCv2pYauEC6lF0oQxX6IOvb7yX9NPEQafan+aPXDdQC18LsO6Tip5BBY6gIQaSbnMCFRCBZRcIvFkbsvCr4AFGOCxQy+JdGQAAAABJRU5ErkJggg==");
  display: block;
  position: absolute;
  width: 15px;
  z-index: 3;
  height: 15px;
  font-size: 20px;
  top: 15px;
  left: 16px;
  line-height: 32px;
  opacity: 0.6;
}

.search-input > input {
  width: 100%;
  font-size: 16px;
  border: none;
  line-height: 22px;
  padding: 6px 0 6px 25px;
  height: 32px;
  position: relative;
}

.search-input > input:focus {
  outline: none;
}

.fours-right {
  padding: 0 30px;
}

/* .filter-options h2 {
    color: white;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0 0 20px;
  } */

/* .toolbar input[type="text"] {
  background-color: white;
  border: 1px solid #3397db;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  height: 35px; */
/* letter-spacing: 0; */
/* margin: 0 20px;
  min-width: 220px;
} */

/* .toolbar button {
  border: 1px solid #3397db;
  font-size: 12pt;
  height: 35px;
  min-width: 40px;
}

@media screen and (max-width: 359px) {
  .toolbar-form {
    height: 90px;
  }

  .toolbar button {
    margin: 2px 20px 5px;
  }
  .toolbar input[type="text"] {
    margin: 5px 20px 2px;
  }
} */
